*.py[cod]

# C extensions
*.so
*.o
astcheck

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# vim swap
*.swp
*.backup
*.*~

# Data Files
*.fit
*.fits
*.fakempc
curr_unc
*.chk
astorb.dat

# local test files
default.cfg
